@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 200 20% 98%;
        --btn-background: 200 10% 91%;
        --btn-background-hover: 200 10% 89%;
        --foreground: 200 50% 3%;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 200 50% 3%;
            --btn-background: 200 10% 9%;
            --btn-background-hover: 200 10% 12%;
            --foreground: 200 20% 96%;
        }
    }
}

@layer base {
    * {
        @apply border-foreground/20;
    }
}

.animate-in {
    animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.jinput {
    @apply block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 border-gray-600 bg-gray-700 text-white placeholder-gray-400 focus:border-blue-500 focus:ring-blue-500;
}

.jheader {
    @apply w-full bg-gray-800;
}

.jcontainer {
    @apply ml-auto mr-auto w-full max-w-5xl justify-between p-3 text-sm;
}

.icon-red {
    fill: #ff0000;
}
